{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center" style="margin-top: 20px; padding: 10px 10px; border: solid 2px;">
    	<h1>Welcome to my App</h1>
    	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    	consequat. Duo fficia deserunt mollit anim id est laborum.
    	</p>
    </div>
    

{% endblock %}
